.main {
  max-width: 368px;
  width: 100%;
  background-color: $dark;
  padding: 24px;
  box-sizing: border-box;
  border-radius: 16px;

  &__top {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}

.title {
  font-weight: bold;
  font-size: 37px;
  line-height: 44px;
  color: $light;
  padding: 0px;
  margin: 0px;
  margin-bottom: 16px;
}


.search {
    &__btn {
        color: $light;
        cursor: pointer;
    }
}