.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 16px;
  &__input {
    width: 70%;
    input {
      width: 100%;
      border-radius: 3px;
      border: 1px solid $dark;
      outline: none;
    }
  }
}
