.item {
  padding: 24px;
  box-sizing: border-box;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.12), 0px 16px 32px rgba(0, 0, 0, 0.08);
  border-radius: 8px;
  margin-bottom: 16px;
  position: relative;

  &:last-child {
    margin-bottom: 0px;
  }

  &__title {
    font-weight: 600;
    font-size: 16px;
    line-height: 150%;
    color: $light;

    &.checked {
      text-decoration: line-through;
    }
  }

  &__delete {
    position: absolute;
    top: 8px;
    right: 8px;
    cursor: pointer;
    outline: none;
    border: none;
    background-color: none;
    font-size: 12px;
    color: $light;
  }

  &__edit {
    position: absolute;
    top: 8px;
    right: 25px;
    cursor: pointer;
    color: white;
    font-size: 12px;
  }

  &.violet {
    background-color: $violet;
  }

  &.success {
    background-color: $success;
  }

  &.danger {
    background-color: $danger;
  }

  &.pink {
    background-color: $pink;
  }

  &.primary {
    background-color: $primary;
  }
}
