.popup {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 10;

  &__content {
    max-width: 300px;
    width: 100%;
    background-color: #fff;
    border-radius: 6px;
    padding: 10px;
    box-sizing: border-box;
  }

  &__input {
    width: 100%;
    input {
      width: 100%;
    }
  }

  &__btn {
    width: 100%;
    margin-top: 10px;
    button {
      width: 100%;
    }
  }

  &__select {
    width: 100%;
    margin-top: 10px;
    select {
      width: 100%;
    }
  }

  &__bg {
    position: fixed;
    z-index: -1;
    background-color: rgba(0, 0, 0, 0.6);
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
  }
}
